#intro {
  margin-top: 2em;
}

#messages {
  position: fixed;
  width: 100%;
  top: .2em;
  text-align: center;
  z-index: 999;
}

#messages > p {
  display: none;
  background-color: gold;
  color: #444;
  padding: .5em;
}

#logins {
  margin-top: .3em;
  text-align: right;
}

@media (max-width: 600px) {
  #logo {
    float: left;
  }
  #header {
    float: none;
    width: 100%;
  }
}

#signups {
  margin-top: 2em;
}

#signups hr {
  width: 50%;
  border-color: lightgray;
}

.big {
  font-size: 1.5em;
}

#header {
  text-align: left;
}

#header br {
  display: none;
}

@media (min-width: 768px) {
  #header br {
    display: inline;
  }
}

#title {
  font-weight: normal;
}

#more-link {
  font-size: .7em;
}

body.about #more-link {
  display: none;
}

pre .keyword, code.keyword {
  color: green;
}

pre .value, code.value {
  color: chocolate;
}

pre .link, code.link {
  color: #428BCA;
}

.row {
  text-align: center;
}

#blogposts, #publishes, #webmentions, #user {
  margin-top: 1em;
}

#top, #listen-ui, #listening-label, #publish-ui, #publishing-label {
  margin-bottom: 1em;
}

/* tentatively removed since it didn't look great with webmention signups */
/* @media (min-width: 768px) { */
/*   #listen-signup, #listen-ui { */
/*     border-left: 1px solid lightgray; */
/*     border-right: 1px solid lightgray; */
/*   } */
/* } */

#listen-signups input, #webmention-signups input {
  margin: .5em;
}

.header, #user, .promo, #listen-signups, #webmention-signups {
  margin-bottom: 1em;
}

#edit-profile em {
  font-style: normal;
}

form {
   display: inline;
}

form input {
  vertical-align: middle;
}

#users-label {
  margin-top: 1em;
}

#users {
  list-style: none;
}

.source {
  text-align: left;
  margin-top: .5em;
}

#choose-blog > ul, #choose-facebook > ul  {
  list-style: none;
}

@media (min-width: 768px) {
  .user-items > .row {
    display: table;
    table-layout: fixed !important;
    width: 100%;
  }

  .user-items > .row > .col-sm-1,
  .user-items > .row > .col-sm-2,
  .user-items > .row > .col-sm-3,
  .user-items > .row > .col-sm-4 {
    display: table-cell;
    float: none;
    text-align: left;
    border-spacing: 0;
  }
}

@media (max-width: 767px) {
  .user-items > .row {
    margin-bottom: 1em;
  }
}

.source-buttons, .original-post {
  white-space: nowrap;
}

.delete {
  border: none;
  background: none;
  font-weight: bold;
  color: red;
}

.delete:hover, .delete:focus {
  color: darkred;
}

/* .glyphicon-warning-sign { color: gold; } */
.glyphicon-ok-sign { color: green; }
.glyphicon-exclamation-sign { color: gold; }
.glyphicon-pause { color: gold; }
.glyphicon-refresh { color: blue; }
.glyphicon-remove { color: red !important; }
.glyphicon-transfer { color: blue; }

.user-items {
  font-size: .8em;
  list-style: none;
}

code {
  color: black;
  background-color: white !important;
}

.original-post-links {
  list-style: none;
  padding-left: 0;
}

label {
  /* override Bootstrap style */
  font-weight: 200;
}

button {
  border: 0;
  background-color: #428BCA;  /* same color as links */
  color: white;
  font-weight: 200;
  padding-top: .2em;
  padding-bottom: .2em;
  padding-left: .5em;
  padding-right: .5em;
  border-radius: 2px;
}

#preview-ui > * {
  vertical-align: middle;
}

.btn-default {
  border-color: #428BCA;
  color: #428BCA;
}

.btn-default:hover {
  background-color: #BDE;
  border-color: #428BCA;
  color: #428BCA;
}

#delete-button, #bad-button {
  border-color: red;
  color: red;
}

#delete-button:hover, #bad-button:hover {
  background-color: #FCC;
}

#good-button {
  border-color: green;
  color: green;
}

#good-button:hover {
  background-color: #DED;
}

#preview .verb {
  font-weight: bold;
}

#preview-text {
  display: inline-block;
  margin-top: 1em;
  text-align: left;
  white-space: pre-wrap;
  font-family: inherit;
  font-size: inherit;
  max-width: 98%;
}

#preview-text img, #preview-text video {
  max-height: 200px;
  max-width: 100%;
  margin-top: 1em;
}

#source-url {
  padding-left: .3em;
  padding-right: .3em;
  border: 1px solid black;
  font-size: 1em;
}

#sent pre {
  display: inline-block;
}

/* Override the inline display:block which makes it align left instead of center. */
iframe#twitter-widget-0 {
  display: inline !important;
}

#footer {
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: right;
}

.shadow, .profile, form.signup input, #screenshot {
  -moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  /* CSS3 */
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  /* For IE 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#666666');
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#666666');
}

.shadow:hover, .profile:hover, form.signup input:hover, #screenshot:hover {
  -moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.8);
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.8);
  /* CSS3 */
  box-shadow: 2px 2px 4px rgba(0,0,0,0.8);
  /* For IE 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#222222');
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#222222');
}

.error {
  background-color: tomato !important;
  font-style: italic;
}

.warning {
  padding: .2em;
  background-color: gold !important;
  font-style: italic;
}

.error code, .warning code {
  font-style: normal;
  background-color: inherit !important;
}

.about {
  list-style: none;
}

.question {
  margin-top: 2em;
  margin-bottom: .5em;
  font-weight: bold;
}

.answer li {
  margin-bottom: .5em;
}
