{% extends "user.html" %}

{% block ui %}

<!-- Promos to get fully up and running -->

{% if not source.verified and source.status != "disabled" and source.features %}
{% if not source.domain_urls %}
<div class="row promo warning">
<p id="edit-profile">First things first: what's your web site?
{% block edit-profile %}
{% endblock %}
</p>
</div>

{% else %}
{% if not source.webmention_endpoint and not source.last_webmention_sent %}
<div class="row promo warning">
You
{% if "listen" in source.features %} need {% else %} might want {% endif %}
<a href='http://indiewebify.me/#send-webmentions'>webmention</a> support.

{% if blogger_promo or tumblr_promo or wordpress_promo %}
Click here to add it:
{% if blogger_promo %}
{% include "blogger_signup.html" %}
{% endif %}
{% if tumblr_promo %}
{% include "tumblr_signup.html" %}
{% endif %}
{% if wordpress_promo %}
{% include "wordpress_signup.html" %}
{% endif %}

{% else %}
<a href="http://indiewebcamp.com/webmention#Publishing_Software">Here are some
resources.</a> If you're on
WordPress, <a href="http://wordpress.org/plugins/indieweb/">try the IndieWeb
bundle plugin</a>. If you're on Blogger, Tumblr, or
WordPress.com, <a href="/">sign up here!</a>

{% endif %}
{% endif %}
</div>
{% endif %}
{% endif %}

<div class="row">

<!-- Listen UI -->
<div id="listen-ui" class="{% if source.SHORT_NAME == 'facebook' or source.SHORT_NAME == 'twitter' or source.SHORT_NAME == 'instagram' or source.SHORT_NAME == 'flickr' %}col-sm-6{% endif %}">

{% if "listen" in source.features and source.status != "disabled" %}
<data class="p-bridgy-listen-status" value="enabled">
<form method="post" action="/delete/start">
<p id="listening-label" class="big">Listening for responses.
  <input name="key" type="hidden" value="{{ source.key.urlsafe }}" />
  <input name="feature" type="hidden" value="listen" />
  <button id="delete-button" type="submit" class="btn btn-default"
    title="Disable sending responses for this account. (Won't delete responses you've already received.)"
    >Disable</button>
</p>
</form>
</data>

<p>
{% if source.poll_status == 'polling' %}
  <span title="Polling now" class="glyphicon glyphicon-transfer"></span>
  Polling now. Check back in a minute!

{% else %}
<form method="post" action="/poll-now">
  <!-- last poll -->
  {% if source.last_poll_attempt == EPOCH %}
    Not polled yet.
  {% else %}
    {% if source.poll_status == "error" %}
     <span title="Error" class="glyphicon glyphicon-exclamation-sign"></span>
    {% endif %}
    Polled
    <a href="/log?start_time={{ source.last_poll_attempt|date:'U' }}&key={{ source.key.urlsafe }}">
      <time class="dt-bridgy-last-polled"
            datetime="{{ source.last_poll_attempt|date:'c' }}"
            title="{{ source.last_poll_attempt|date:'r' }}">
        {{ source.last_poll_attempt|timesince }} ago</time></a>.
  {% endif %}

  <!-- next poll -->
  Next poll in
  <time class="dt-bridgy-next-poll" datetime="{{ next_poll|date:'c' }}"
        title="{{ next_poll|date:'r' }}">
    {{ next_poll|timeuntil }}</time>.

  <input name="key" type="hidden" value="{{ source.key.urlsafe }}" />
  <button id="poll-now-button" type="submit" class="btn btn-default">Poll now</button>
</form>
{% endif %}
</p>

<p>
<!-- last_syndication_url -->
{% if source.last_syndication_url and source.last_syndication_url > EPOCH %}
  Last <a href="/about#link">syndication link</a> found
  <a href="/log?start_time={{ source.last_syndication_url|date:'U' }}&key={{ source.key.urlsafe }}">
  <time class="dt-bridgy-last-syndication-link"
        datetime="{{ source.last_syndication_url|date:'c' }}"
        title="{{ source.last_syndication_url|date:'r' }}">
    {{ source.last_syndication_url|timesince }} ago</time>.
  </a><br />
{% endif %}

<!-- last_webmention_sent -->
{% if source.last_webmention_sent and source.last_webmention_sent > EPOCH %}
  Last <a href="/about#accept">webmention</a> sent
  <time class="dt-bridgy-last-webmention-sent"
        datetime="{{ source.last_webmention_sent|date:'c' }}"
        title="{{ source.last_webmention_sent|date:'r' }}">
    {{ source.last_webmention_sent|timesince }} ago</time>.
  <br />
{% endif %}

<!-- last_hfeed_refetch -->
{% if source.domain_urls %}
<form method="post" action="/crawl-now">
{% with source.domain_urls|length|pluralize as s %}
{% if source.last_hfeed_refetch == EPOCH %}
  Web site{{ s }} not <a href="/about#link">crawled</a> yet.
{% else %}
{% if source.last_hfeed_refetch == REFETCH_HFEED_TRIGGER %}
  <span title="Crawling now" class="glyphicon glyphicon-transfer"></span>
  <a href="/about#link">Crawling</a> now. Check back in a minute!
{% else %}
  Web site{{ s }} <a href="/about#link">crawled</a>
  <a href="/log?start_time={{ source.last_hfeed_refetch|date:'U' }}&key={{ source.key.urlsafe }}">
  <time class="dt-bridgy-last-refetched"
        datetime="{{ source.last_hfeed_refetch|date:'c' }}"
        title="{{ source.last_hfeed_refetch|date:'r' }}">
    {{ source.last_hfeed_refetch|timesince }} ago</time>.
  </a>
{% endif %}
{% endif %}
{% endwith %}
<input name="key" type="hidden" value="{{ source.key.urlsafe }}" />
<button id="crawl-now-button" type="submit" class="btn btn-default">Crawl now</button>
</form>
{% endif %}
</p>


<!-- Listen signup buttons -->
{% else %}
<data class="p-bridgy-listen-status" value="disabled">
Click to enable <a href="/about#listen">listening</a>:
{% block listen-signup %}
{% endblock %}
</data>
{% endif %}

</div>


<!-- Publish UI -->
<div id="publish-ui" class="col-sm-6">

{% if "publish" in source.features and source.status != "disabled" %}
<data class="p-bridgy-publish-status" value="enabled">
<form method="post" action="/delete/start">
<p id="publishing-label" class="big">
 Ready to publish.
   <input name="key" type="hidden" value="{{ source.key.urlsafe }}" />
   <input name="feature" type="hidden" value="publish" />
   <button id="delete-button" type="submit" class="btn btn-default"
     title="Disable publishing for this account. (Won't delete posts you've already published.)"
     >Disable</button>
</p>
</form>
</data>

<form method="post" name="preview" action="/publish/preview"
      onsubmit="do_preview('{{ source.SHORT_NAME }}'); return false;">
<p id="preview-ui">
 <label id="source-label" for="source-url">Enter post URL:</label>
 <input id="source-url" name="source" type="url" required alt="Source URL"></input>
 <input id="source_key" name="source_key" type="hidden" value="{{ source.key.urlsafe }}" />
 <input name="target" type="hidden"
        value="https://brid.gy/publish/{{ source.SHORT_NAME }}"></input>

 <nobr>
 &nbsp;
 <input id="include-link-checked" name="bridgy_omit_link" type="checkbox"
        value="false" checked></input>
 <label id="include-link-label" for="include-link-checked">Include link</label>
 &nbsp;
 <button id="preview-button" type="submit" class="btn btn-default">Preview</button>
 </nobr>
</p>
</form>

<!-- Publish signup buttons -->
{% else %}
<data class="p-bridgy-publish-status" value="disabled">
{% block publish-signup %}
{% endblock %}
</data>
{% endif %}

</div>

</div>


<!-- Publish preview UI -->
<br />
<div id="preview" class="row"></div>
{% endblock %}


{% block recent %}
<!-- Responses -->
<div class="row">
{% if "listen" in source.features %}
{% if responses %}
<p id="responses" class="big">Responses:</p>
<ul class="user-items">
  {% for response in responses %}
  <li class="row h-bridgy-response h-bridgy-{{ response.type }}">
   <data class="p-bridgy-status" value="{{ response.status }}" />
   <div class="col-sm-3">
    {% with response.response as r %}
    <a target="_blank" href="{{ response.actor.url }}"
       title="{{ response.actor.displayName }}">
      <img class="profile" src="{{ response.actor.image.url }}" width="32" /></a>
      <a target="_blank" class="u-bridgy-syndication-source u-name" href="{{ r.url }}">
        {{ r.content|default:"--"|striptags|truncatewords:6|safe }}
      </a>
    {% endwith %}

   </div><div class="col-sm-3">
    <ul class="original-post-links">
    {% for a in response.activities %}
    <li>
    {% if response.type == "comment" %} on {% endif %}
    <a target="_blank" class="u-bridgy-original-source"
       href="{% firstof a.url a.object.url %}">
      {{ a.content|default:"--"|striptags|truncatewords:6|safe }}
    </a></li>
    {% endfor %}

    {% if response.original_links %}
      <li>Original:
      {{ response.original_links|safeseq|join:', ' }}
      </li>
    {% endif %}
    </ul>

   </div><div class="col-sm-2">
     <a href="/log?start_time={{ response.updated|date:'U' }}&key={{ response.key.urlsafe }}"
        class="u-bridgy-log">
      <time class="dt-updated" datetime="{{ response.updated|date:'c' }}"
            title="{{ response.updated|date:'r' }}">
        {{ response.updated|timesince }} ago</time>
      {% if response.status == 'error' %}
       <span title="Error" class="glyphicon glyphicon-exclamation-sign"></span>
      {% else %}{% if response.status == 'processing' %}
       <span title="Processing" class="glyphicon glyphicon-transfer"></span>
      {% endif %}{% endif %}
     </a>

   </div><div class="col-sm-1">
    <form method="post" action="/retry">
      <input name="key" type="hidden" value="{{ response.key.urlsafe }}" />
      <input name="redirect_to" type="hidden" value="{{ request.url }}" />
      <button id="retry-button" type="submit" title="Retry"
              class="btn btn-default glyphicon glyphicon-refresh"></button>
    </form>

   </div><div class="col-sm-3">
    {% for label, links in response.links.items %}
      {{ label|safe }}:
      <ul class="original-post-links">{{ links|safeseq|unordered_list }}</ul>
    {% empty %}
      No webmention targets
    {% endfor %}
   </div>
  </li>
  {% endfor %}
</ul>

{% else %}
<p class="big">No responses.</p>
{% endif %}

<div class="row">
<div class="col-sm-3">
  {% if responses_after_link %}
    <a href="{{ responses_after_link }}">&larr; Newer</a>
  {% endif %}
</div>

<div class="col-sm-3 col-sm-offset-6">
  {% if responses_before_link %}
    <a href="{{ responses_before_link }}">Older &rarr;</a>
  {% endif %}
</div>
</div>

{% endif %}
</div>


<!-- Publishes -->
<div class="row">
{% if "publish" in source.features %}
{% if publishes %}
<p id="publishes" class="big">Published:</p>
<ul class="user-items">
  {% for publish in publishes %}
  <li class="row h-bridgy-publish h-bridgy-{% firstof publish.type_label publish.type %}">
   <data class="p-bridgy-status" value="{{ publish.status }}" />
   <div class="col-sm-4">
     {{ publish.pretty_page|safe }}

   </div><div class="col-sm-4">
    <a href="/log?start_time={{ publish.updated|date:'U' }}&key={{ publish.key.urlsafe }}"
       class="u-bridgy-log">
      <time class="dt-updated" datetime="{{ publish.updated|date:'c' }}"
            title="{{ publish.updated|date:'r' }}">
        {{ publish.updated|timesince }} ago</time>
      {% if publish.status == 'failed' %}
       <span title="Error" class="glyphicon glyphicon-exclamation-sign"></span>
      {% else %}{% if publish.status == 'new' %}
       <span title="Processing" class="glyphicon glyphicon-transfer"></span>
      {% endif %}{% endif %}
    </a>

   </div><div class="col-sm-4">
     {% if publish.published.url %}
       <a class="u-syndication" href="{{ publish.published.url }}">
     {% endif %}
     {% firstof publish.type_label publish.type %}
     {% if publish.published.url %}
       </a>
     {% endif %}

   </div>
  </li>
  {% endfor %}
</ul>

{% else %}
<p class="big">Nothing published yet.</p>
{% endif %}
{% endif %}
</div>

{% endblock %}
